@charset "utf-8";

/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body{height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
#logo img,.meal-img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

#container{
	min-height: 100vh;
	padding-bottom: 60px;
    position: relative;
	text-align: center;
}

section h2{
	text-align: left;
}

.top-img{
	width: 70%;
	height: auto;
}

.top-moji{
	font-size: 23px;
	margin-left: 8%;
	color:#111;
	width: 80%;
	text-align: center;
}

.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    width: 100%;
    height: 300px;
}

.flex-item {
    flex-basis: 100%;
}

#pic_frame {
	text-align: center;
  }

/* 食事タブ */
.rice {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
  }
   
  .tab_class {
    width: calc(100%/8);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
  }
   
  input[name="tab_name"] {
    display: none;
  }
   
  input:checked + .tab_class {
    background-color: rgba(78, 177, 136, 0.753);
    color: aliceblue;
  }
   
  .content_class {
    display: none;
    width: 100%;
	overflow: hidden;
  }

  /* 飯の左の画像 */
  .image_left{
	  float: left;
	  width: 48%;
  }

  /* 飯の右の画像 */
  .image_right{
	  float: right;
	  width: 48%;
  }
  
  input:checked + .tab_class + .content_class {
    display: block;
  }

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;		/*リンクテキストの色*/
	transition: 0.2s;	/*マウスオン時の移り変わるまでの時間設定。0.2秒。*/
}
a:hover {
	color: #66b3d3;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*inner
---------------------------------------------------------------------------*/
.inner {
	max-width: 1400px;	/*サイトの最大幅*/
	margin: 0 auto;
	padding-left: 2% !important;
	padding-right: 2% !important;
}

/*ヘッダー
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 100px;	/*高さ*/
	background: url(../../image/index/header.jpg) center / cover;
	position: relative;
}
#top header {
	min-height: 100%;
	margin-bottom: -90px;	/*メニューの高さを設定する*/
}
/*ロゴ画像（※トップページ以外）*/
header #logo {
	width: 250px;	/*画像幅*/
	padding-top: 10px;	/*画像の上に空ける余白。バランスをとって下さい。*/
}
/*トップページのロゴ画像*/
#top #logo img {
	position: fixed;	/*スクロールしても固定表示させる設定。*/
	z-index: 1;
	left: 40%;	/*左から40%の場所に配置*/
	top: 35%;	/*上から35%の場所に配置*/
	width: 20%;	/*画像の幅*/
}



/*メインメニューのブロック
---------------------------------------------------------------------------*/
/*メニューブロック*/
	.search_box {
		margin-top: 10px;
		text-align: center;
	}
	.areaSelect{
		font-size: 30px;
		width: 400px;
		height: 75px;
		background:#fff;
		color:#111;
		border-radius:2em;
		text-align: center;
	}
	.areaSelect:after{
		border-bottom:#fff 5px solid;
  		border-right:#fff 5px solid;
	}
	#pref{
		font-size: 30px;
		width: 400px;
		height: 75px;
		background:#fff;
		color:#111;
		border-radius:2em;
		text-align: center;
	}

	#pref:after{
		border-bottom:#fff 5px solid;
  		border-right:#fff 5px solid;
	}

	.search_button{
		display: inline-block;
		text-decoration: none;
		color: #67c5ff;
		border: solid 2px #67c5ff;
		border-radius: 3px;
		transition:　.4s;
		width: 160px;
		height: 60px;
		font-size: 30px;
	}
	.search_button:hover{
		background: #67c5ff;
  		color: white;
	}

/*fixmenu設定（メニューが画面上部に到達した際のスタイル）
------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*上部固定メニュー用fixmenu設定*/
body.is-fixed-menu #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.95);	/*背景色。255,255,255は白の事で0.95は透明度。*/
}
body.is-fixed-menu #contents {
	margin-top: 90px;	/*※上の「#menubar ul li a」の注意書きにある数字を指定します。*/
}
/*※以下の２ブロックのスタイルの「中身」は、上の２ブロックのスタイルと単純に合わせておいて下さい。fixmenuスクリプトを２つ使う為に必要な設定になります。*/
body.is-fixed #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.95);	/*背景色。255,255,255は白の事で0.95は透明度。*/
}
body.is-fixed #contents {
	margin-top: 90px;	/*※上の「#menubar ul li a」の注意書きにある数字を指定します。*/
}

/*コンテンツ（mainとsubを囲むブロック。１カラム時の場合はメインコンテツを囲むブロック。）
---------------------------------------------------------------------------*/
#contents {
	position: relative;z-index: 1;
	overflow: hidden;
	background: #fafafa;	/*背景色*/
	padding: 30px 0;
}
/*contentsの中にあるinner*/
#contents .inner {
	padding: 20px 0px;	/*上下、左右へのブロック内の余白*/
}
/*h2タグ*/
#contents h2 {
	clear: both;
	margin-bottom: 20px;
	color: #fff;		/*文字色*/
	background: url(../../image/index/header.jpg) center / cover;	/*背景色*/
	padding: 5px 20px;	/*上下、左右へのボックス内の余白*/
	font-size: 20px;	/*文字サイズ*/
	border-radius: 3px;	/*角丸のサイズ*/
}


/*段落タグ*/
#contents p {
	padding: 0 20px 20px;	/*上、左右、下への余白*/
}
#contents h2 + p,

#contents p + p {
	margin-top: -10px;
}

/*section同士の余白*/
.main section + section {
	margin-top: 40px;
}

.meal-img {
	width: 770px;
	height: 330px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	z-index: 1;
	font-size: 12px;		/*文字サイズ*/
	background: url(../../image/index/header.jpg) center / cover;	/*背景色*/
	color: #fff;	/*文字色*/
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
footer a {color: #fff;}
footer a:hover {color: #fff;}
footer .pr {display: block;font-size: 80%;}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	overflow: hidden;
	padding: 20px 0;	/*上下、左右へのボックス内の余白*/
	background: url(../images/logo.png) no-repeat 95% center/8%;	/*フッターイメージ画像の読み込み。左から95%、上下中央に配置。幅8%。*/
}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: #333;	/*背景色*/
}
#copyright a {text-decoration: none;}
#copyright a:hover {color: #666;}

/*h2タグ内で使った場合のoption1とoption2*/
h2 span.option1, h2 span.option2 {
	width: auto;
	position: static;
	transform: none;
	display: inline-block;
	font-size: 15px;
	padding: 0px 5px;
}

/*UPアイコン
---------------------------------------------------------------------------*/
.upicon {
	background: #0072ff;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*ヘッダーにメニューが固定される分、リンク先が隠れるのを防ぐ為のスタイル。※ページ内へのリンクで使う。
---------------------------------------------------------------------------*/
.link {
	display: block;
	margin-top: -120px;
	padding-top: 120px;
}

/*ページの上部へボタン「↑」設定
---------------------------------------------------------------------------*/
@keyframes scroll {0% {opacity: 0;}100% {opacity: 1;}}
body .nav-fix-pos-pagetop a {display: none;}
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	z-index: 1;
	position: fixed;
	bottom: 20px;	/*下から20pxの場所に配置*/
	background: #666;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.6);	/*背景色。0,0,0は黒の事。0.6は60%色がついた状態。*/
	color: #fff;	/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	animation-name: scroll;	/*上のアニメーションで指定しているkeyframesの名前（scroll）*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-fill-mode: forwards;	/*アニメーションの完了後、最後のキーフレームを維持する*/
	border-radius: 50%;	/*角丸の設定。円形にする。*/
}
/*マウスオン時*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;	/*背景色*/
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #ccc;padding: 5px 10px;border-radius: 4px;}
.mb15,.mb1em {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb50 {margin-bottom: 50px !important;}
.p0 {padding:0 !important;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px;list-style: disc;}
.color1, .color1 a {color: #66b3d3 !important;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center !important;}
.r {text-align: right !important;}
.l {text-align: left !important;}
.w50 {overflow: hidden;width: 50%;}
.fl {float: left;}
.big1 {font-size: 22px;}
.sub .big1 {font-size: 12px;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}
.date {text-align: right;color: #999;font-size: 11px;}


/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明度(opacity)0%から透明度100%にする指定。*/
@keyframes menu1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

---------------------------------------------------------------------------*/
/*fixmenuから折りたたみメニューになるのでリセット。*/
body.is-fixed-menu #contents {
	margin-top: 0px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#contents .main, #contents .sub {
	float: none;
	width: auto;
	clear: both;
}

/*ヘッダーメニューが固定されなくなるので、再設定。
---------------------------------------------------------------------------*/
.link {
	margin-top: -30px;
	padding-top: 30px;
}


/*ヘッダー
---------------------------------------------------------------------------*/
/*トップページのロゴ画像*/
#top #logo img {
	left: 26%;	/*左から26%の場所に配置*/
	top: 35%;	/*上から35%の場所に配置*/
	width: 50%;	/*画像の幅*/
}

/*物件一覧ページの各ブロック（※compactタイプへの追加設定）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#contents .main .list.compact {
	width: auto;
	float: none;
	margin: 0;
	border-top: 1px solid #dcdcdc;
	padding-top: 3%;
}
#contents .main .list.compact a {
	height: auto;
}
/*ボックス内の写真設定*/
#contents .main .list.compact figure img {
	float: left;
	width: 20%;
}
/*最後のボックスへの追加設定*/
#contents .main .list.compact:last-of-type {
	margin-bottom: 15px;
	border-bottom: 1px solid #dcdcdc;
}


/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 8px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

.top-hotel{
    width: 70%;
}

/* 施設＆部屋タブ */
.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    width: 100%;
    height: 100px;
}

.flex-item {
    flex-basis: 100%;
}

#pic_frame {
	text-align: center;
}

.tab_class {
    width: calc(100%/8);
    height: 25px;
    background-color: darkgrey;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

/*inner
---------------------------------------------------------------------------*/
.inner {
	padding-left: 2% !important;
	padding-right: 2% !important;
}

/*コンテンツ（mainとsubを囲むブロック。１カラム時の場合はメインコンテツを囲むブロック。）
---------------------------------------------------------------------------*/
/*h2タグ*/
#contents h2 {
	font-size: 14px;
	padding: 5px 10px;	/*上下、左右へのボックス内の余白*/
}

/*段落タグ*/
#contents p {
	padding: 0 10px 20px;
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
/*section同士の余白*/
.main section + section {
	margin-top: 20px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.fl {float: none;}
img.fl {float: none;display: block;width:90%;margin: 0 auto 20px;}
.big1 {font-size: 16px;}
.sh {display:block;}
.pc {display:none;}

}

.center p{
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #3399FF;
	border: solid 2px #3399FF;
	border-radius: 3px;
	transition: .4s;
  }
  
  .btn:hover {
	background: #3399FF;
	color: white;
  }