@charset "utf-8";

/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body{height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #666;	/*全体の文字色*/
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #fff;	/*背景色*/
	-webkit-text-size-adjust: none;
}
#logo img {border: none;max-width: 100%;height: auto;vertical-align: middle;}


#container{
	min-height: 100vh;
	padding-bottom: 60px;
    position: relative;
}

.top-hotel{
	display: block; 
	margin: auto; 
	padding: 30px;
	border: none;
	max-width: 100%;
	height: auto;
}
/* 施設＆部屋タブ */
.flex-container {
    display: flex;
}

.top-moji{
	font-size: 24px;
	text-align: center;
	color:#111;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    width: 100%;
    height: 300px;
}

.flex-item {
    flex-basis: 100%;
}

/* 食事タブ */
.rice {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
  }
   
  .tab_class {
    width: calc(100%/8);
    height: 50px;
    background-color: darkgrey;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
  }
   
  input[name="tab_name"] {
    display: none;
  }
   
  input:checked + .tab_class {
    background-color: rgba(78, 177, 136, 0.753);
    color: aliceblue;
  }
   
  .content_class {
    display: none;
    width: 100%;
	overflow: hidden;
  }

  /* 飯の左の画像 */
  .image_left{
	  float: left;
	  width: 48%;
  }

  /* 飯の右の画像 */
  .image_right{
	  float: right;
	  width: 48%;
  }
  
  input:checked + .tab_class + .content_class {
    display: block;
  }

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;		/*リンクテキストの色*/
	transition: 0.2s;	/*マウスオン時の移り変わるまでの時間設定。0.2秒。*/
}
a:hover {
	color: #66b3d3;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*inner
---------------------------------------------------------------------------*/
.inner {
	max-width: 1400px;	/*サイトの最大幅*/
	margin: 0 auto;
	padding-left: 2% !important;
	padding-right: 2% !important;
}

/*ヘッダー
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 100px;	/*高さ*/
	background: url(../../image/index/header.jpg) center / cover;
	position: relative;
}
#top header {
	min-height: 100%;
	margin-bottom: -90px;	/*メニューの高さを設定する*/
}
/*ロゴ画像（※トップページ以外）*/
header #logo {
	width: 250px;	/*画像幅*/
	padding-top: 10px;	/*画像の上に空ける余白。バランスをとって下さい。*/
}
/*トップページのロゴ画像*/
#top #logo img {
	position: fixed;	/*スクロールしても固定表示させる設定。*/
	z-index: 1;
	left: 40%;	/*左から40%の場所に配置*/
	top: 35%;	/*上から35%の場所に配置*/
	width: 20%;	/*画像の幅*/
}



/*メインメニューのブロック
---------------------------------------------------------------------------*/
/*メニューブロック*/

	.top-img{
		width: 1200px;
		height: 600px;
		text-align: center;
	}

	.search_box {
		margin-top: 10px;
		text-align: center;
	}
	.areaSelect{
		font-size: 30px;
		width: 400px;
		height: 75px;
		background:#fff;
		color:#111;
		border-radius:2em;
		text-align: center;
	}
	.areaSelect:after{
		border-bottom:#fff 5px solid;
  		border-right:#fff 5px solid;
	}
	#pref{
		font-size: 30px;
		width: 400px;
		height: 75px;
		background:#fff;
		color:#111;
		border-radius:2em;
		text-align: center;
	}

	#pref:after{
		border-bottom:#fff 5px solid;
  		border-right:#fff 5px solid;
	}

	.search_button{
		display: inline-block;
		text-decoration: none;
		color: #67c5ff;
		border: solid 2px #67c5ff;
		border-radius: 3px;
		transition:　.4s;
		width: 160px;
		height: 60px;
		font-size: 30px;
	}
	.search_button:hover{
		background: #67c5ff;
  		color: white;
	}

	nav ul{
	display: table;
	margin: 0 auto;
	padding: 0 ;
	width: 80%;
	text-align: center;
	}
	nav li{
	display: table-cell;
	min-width: 50px;
	}
	nav a{
	display: block;
	width: 100%;
	text-decoration: none;
	color: #555;
	padding-bottom: 5px;
	}
	nav li a.current{
	border-bottom: 3px solid #92D050;
	}
	nav li a:hover{
	color: #E7DA66;
	border-bottom: 3px solid #F0E475;
	}

#menubar {
	overflow: hidden;position: relative;z-index: 10;
	text-align: center;	/*文字を中央に*/
	background: #fff;	/*背景色*/
	border-bottom: 1px solid #eee;	/*下線の幅、線種、色*/
}
/*メニュー１個あたりの設定*/
#menubar ul li {
	float: left;	/*左に回り込み*/
	width: 20%;		/*幅。今回は５個メニューがあるので100÷5=20*/
	font-size: 20px;	/*文字サイズ*/
}
#menubar ul li a {
	text-decoration: none;display: block;
	border-bottom: 3px solid transparent;	/*下線の設定。ここではtransparentを使って透明にしています。*/
	height: 75px;		/*メニューブロックの高さ。※※※ここの「75」と、下の行の「15」を合計した「90」の数字と、下のfixmenu設定に２箇所ある「margin-top」の数字を合わせて下さい。*/
	padding-top: 15px;	/*メニューブロックの高さプラス、上に空ける余白。メニューテキストの上下の配置バランスをここで調整して下さい。※変更の際は、上の行の注意書きもしっかり読んで下さい。*/
}
/*飾り文字*/
#menubar ul li span {
	display: block;
	font-size: 10px;	/*文字サイズ*/
	color: #999;		/*文字色*/
	letter-spacing: 0.2em;	/*文字間隔を少し広くとる設定*/
}
/*マウスオン時と、現在表示中メニューの設定*/
#menubar ul li a:hover, #menubar ul li.current a {
	border-bottom: 3px solid #66b3d3;	/*下線の幅、線種、色*/
}
/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

/*fixmenu設定（メニューが画面上部に到達した際のスタイル）
------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*上部固定メニュー用fixmenu設定*/
body.is-fixed-menu #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.95);	/*背景色。255,255,255は白の事で0.95は透明度。*/
}
body.is-fixed-menu #contents {
	margin-top: 90px;	/*※上の「#menubar ul li a」の注意書きにある数字を指定します。*/
}
/*※以下の２ブロックのスタイルの「中身」は、上の２ブロックのスタイルと単純に合わせておいて下さい。fixmenuスクリプトを２つ使う為に必要な設定になります。*/
body.is-fixed #menubar.nav-fix-pos {
	position: fixed;width: 100%;top: 0px;
	background: #fff;	/*背景色（古いブラウザ用）*/
	background: rgba(255,255,255,0.95);	/*背景色。255,255,255は白の事で0.95は透明度。*/
}
body.is-fixed #contents {
	margin-top: 90px;	/*※上の「#menubar ul li a」の注意書きにある数字を指定します。*/
}

/*コンテンツ（mainとsubを囲むブロック。１カラム時の場合はメインコンテツを囲むブロック。）
---------------------------------------------------------------------------*/
#contents {
	position: relative;z-index: 1;
	overflow: hidden;
	background: #fafafa;	/*背景色*/
	padding: 30px 0;
}
/*contentsの中にあるinner*/
#contents .inner {
	padding: 20px 0px;	/*上下、左右へのブロック内の余白*/
}
/*h2タグ*/
#contents h2 {
	clear: both;
	margin-bottom: 20px;
	color: #fff;		/*文字色*/
	background: url(../../image/index/header.jpg) center / cover;	/*背景色*/
	padding: 5px 20px;	/*上下、左右へのボックス内の余白*/
	font-size: 20px;	/*文字サイズ*/
	border-radius: 3px;	/*角丸のサイズ*/
}
/*h2タグの１文字目*/
#contents h2::first-letter {
	border-left: 3px solid #fff;	/*左の線の幅、線種、色*/
	padding-left: 20px;				/*線と文字との余白*/
}
/*h3タグ*/
#contents h3 {
	clear: both;
	margin-bottom: 20px;
	font-size: 20px;	/*文字サイズ*/
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	padding-left: 20px;	/*左側に空ける余白*/
}
/*h3タグの１文字目*/
#contents h3::first-letter {
	border-left: 3px solid #66b3d3;	/*左側の線の幅、線種、色*/
	padding-left: 20px;	/*線と文字との余白*/
}
/*段落タグ*/
#contents p {
	padding: 0 20px 20px;	/*上、左右、下への余白*/
}
#contents h2 + p,
#contents h3 + p {
	margin-top: -5px;
}
#contents p + p {
	margin-top: -10px;
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
/*mainブロック*/
.main {
	float: left;	/*左に回り込み*/
	width: 100%;		/*メインコンテンツの幅*/
}
/*section同士の余白*/
.main section + section {
	margin-top: 40px;
	padding-top: 0;	/*.linkのpadding-topをリセットしておく*/
}

/*物件一覧ページの各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#contents .main .list {
	position: relative;overflow: hidden;
	margin-bottom: 20px;	/*ボックスの下に空ける余白*/
}
#contents .main .list a {
	text-decoration: none;display: block;overflow: hidden;
	border: 1px solid #dcdcdc;	/*枠線の幅、線種、色*/
	padding: 3%;	/*ボックス内の余白*/
	background: #fff;	/*背景色*/
}
#contents .main .list a:hover {
	border: 1px solid #999;	/*マウスオン時の枠線の幅、線種、色*/
}
/*各ボックスの設定（※compactタイプへの追加設定）*/
#contents .main .list.compact {
	box-shadow: none;
	width: 18.4%;			/*幅*/
	float: left;		/*左に回り込み*/
	margin-left: 1.3%;	/*左側に空けるスペース*/
	font-size: 11px;	/*文字サイズ*/
	line-height: 1.2;	/*行間を狭くする*/
}
#contents .main .list.compact a {
	height: 260px;	/*高さ*/
	border: none;
	padding: 0;
	background: transparent;	/*背景色を透明に*/
}
/*ボックス内のh4タグ設定*/
#contents .main .list h4 {
	margin-bottom: 0.5em;
	color: #66b3d3;		/*文字色*/
	margin-left: 22%;	/*左側の写真幅とのバランスをとって設定*/
}
/*ボックス内のh4タグの１文字目への設定*/
#contents .main .list h4::first-letter {
	border-left: 3px solid #66b3d3;	/*左側の線の幅、線種、色*/
	padding-left: 10px;	/*線と文字との余白*/
}
/*ボックス内のh4タグ設定（※compactタイプへの追加設定）*/
#contents .main .list.compact h4 {
	border: none;
	margin-left: 0;
}
/*ボックス内のh4タグの１文字目への設定（※compactタイプへの追加設定）*/
#contents .main .list.compact h4::first-letter {
	border: none;
	padding: 0;
}
/*ボックス内のp(段落)タグ設定*/
#contents .main .list p {
	padding: 0px;
	margin-left: 22%;	/*左側の写真幅とのバランスをとって設定*/
}
/*ボックス内の段落タグ設定（※compactタイプへの追加設定）*/
#contents .main .list.compact p {
	margin-left: 0;
}
/*ボックス内の写真設定（※compactタイプへの追加設定）*/
#contents .main .list.compact figure img {
	float: none;
	margin: 0;
	margin-bottom: 10px;
	border: none;
	width: auto;
	padding: 0;
}
.meal-img {
	width: 770px;
	height: 330px;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	z-index: 1;
	font-size: 12px;		/*文字サイズ*/
	background: url(../../image/index/header.jpg) center / cover;	/*背景色*/
	color: #fff;	/*文字色*/
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
footer a {color: #fff;}
footer a:hover {color: #fff;}
footer .pr {display: block;font-size: 80%;}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: #333;	/*背景色*/
}
#copyright a {text-decoration: none;}
#copyright a:hover {color: #666;}



/*一覧ページのボックス内のアイコン
（CMSの場合は管理ページの「オプション1」～のプルダウンと、setup.phpの「オプション選択肢」に関連します）
---------------------------------------------------------------------------*/
/*option1,option2共通*/

/*option1への追加設定*/
/* span.option1 {
	color: #FFF;		
	background: #F00;	
} */
/*h2タグ内で使った場合のoption1とoption2*/
h2 span.option1, h2 span.option2 {
	width: auto;
	position: static;
	transform: none;
	display: inline-block;
	font-size: 15px;
	margin-left: 10px;
	padding: 0px 5px;
}



/*UPアイコン
---------------------------------------------------------------------------*/
.upicon {
	background: #0072ff;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*ヘッダーにメニューが固定される分、リンク先が隠れるのを防ぐ為のスタイル。※ページ内へのリンクで使う。
---------------------------------------------------------------------------*/
.link {
	display: block;
	margin-top: -120px;
	padding-top: 120px;
}

/*ページの上部へボタン「↑」設定
---------------------------------------------------------------------------*/
@keyframes scroll {0% {opacity: 0;}100% {opacity: 1;}}
body .nav-fix-pos-pagetop a {display: none;}
body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 50px;		/*幅*/
	line-height: 50px;	/*高さ*/
	z-index: 1;
	position: fixed;
	bottom: 20px;	/*下から20pxの場所に配置*/
	right: 3%;		/*右から3%の場所に配置*/
	background: #666;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.6);	/*背景色。0,0,0は黒の事。0.6は60%色がついた状態。*/
	color: #fff;	/*文字色*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	animation-name: scroll;	/*上のアニメーションで指定しているkeyframesの名前（scroll）*/
	animation-duration: 1S;	/*アニメーションの実行時間*/
	animation-fill-mode: forwards;	/*アニメーションの完了後、最後のキーフレームを維持する*/
	border-radius: 50%;	/*角丸の設定。円形にする。*/
}
/*マウスオン時*/
body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;	/*背景色*/
}

/*画面を横向きにした場合の高さが500px以下の場合の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (orientation: landscape) and (max-height:500px){

/*メインメニュー
---------------------------------------------------------------------------*/
	/*メニュー１個あたりの設定*/
	#menubar-s ul li a {
		padding: 10px;		/*メニュー内の余白*/
		float: left;		/*左に回り込み*/
		width: 40%;			/*幅*/
		margin-left: 4%;	/*メニューの左側に空けるスペース*/
	}

}


/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*メインメニュー
---------------------------------------------------------------------------*/
/*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。透明度(opacity)0%から透明度100%にする指定。*/
@keyframes menu1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/*スマホ用メニューブロック*/
#menubar-s {
	display: block;overflow: hidden;
	position: fixed;z-index: 100;
	top: 0px;
	width: 100%;
	background: rgba(0,0,0,0.8);	/*背景色*/
	border-top: 1px solid #fff;		/*上の線の幅、線種、色*/
	animation-name: menu1;		/*上のkeyframesの名前*/
	animation-duration: 0.5s;	/*アニメーションの実行時間。0.5秒。*/
	animation-fill-mode: both;	/*待機中は最初のキーフレームを、完了後は最後のキーフレームを維持*/
}
/*メニュー１個あたりの設定*/
#menubar-s ul li a {
	display: block;text-decoration: none;
	padding: 10px 15px;	/*上下、左右へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
	color: #fff;		/*文字色*/
	font-size: 16px;	/*文字サイズ*/
}
/*飾り文字*/
#menubar-s ul li span {
	display: block;
	font-size: 10px;	/*文字サイズ*/
	color: #999;		/*文字色*/
}
/*PC用メニューを非表示にする*/
#menubar {display: none;}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: fixed;z-index: 100;
	top: 8px;		/*上から8pxの場所に配置*/
	right: 10px;	/*右から10pxの場所に配置*/
	border-radius: 50%;	/*円形にする*/
	border: 1px solid #fff;
}
/*アイコン共通設定*/
#menubar_hdr.close,
#menubar_hdr.open {
	width: 50px;	/*幅*/
	height: 50px;	/*高さ*/
}
/*三本バーアイコン*/
#menubar_hdr.close {
	background: #66b3d3 url(../images/icon_menu.png) no-repeat center top/50px;	/*背景色、背景画像の読み込み、画像の上半分（３本マーク）を表示。幅は50px。*/
}
/*閉じるアイコン*/
#menubar_hdr.open {
	background: #66b3d3 url(../images/icon_menu.png) no-repeat center bottom/50px;	/*背景色、背景画像の読み込み、画像の下半分（×マーク）を表示。幅は50px。*/
}

/*fixmenu設定（メニューが画面上部に到達した際のスタイル）
---------------------------------------------------------------------------*/
/*fixmenuから折りたたみメニューになるのでリセット。*/
body.is-fixed-menu #contents {
	margin-top: 0px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#contents .main, #contents .sub {
	float: none;
	width: auto;
	clear: both;
}

/*ヘッダーメニューが固定されなくなるので、再設定。
---------------------------------------------------------------------------*/
.link {
	margin-top: -30px;
	padding-top: 30px;
}

}

/*ヘッダー
---------------------------------------------------------------------------*/
/*トップページのロゴ画像*/
#top #logo img {
	left: 26%;	/*左から26%の場所に配置*/
	top: 35%;	/*上から35%の場所に配置*/
	width: 50%;	/*画像の幅*/
}

/*物件一覧ページの各ブロック（※compactタイプへの追加設定）
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#contents .main .list.compact {
	width: auto;
	float: none;
	margin: 0;
	border-top: 1px solid #dcdcdc;
	padding-top: 3%;
}
#contents .main .list.compact a {
	height: auto;
}
/*ボックス内の写真設定*/
#contents .main .list.compact figure img {
	float: left;
	width: 20%;
	margin-right: 10px;
}
/*最後のボックスへの追加設定*/
#contents .main .list.compact:last-of-type {
	margin-bottom: 15px;
	border-bottom: 1px solid #dcdcdc;
}


/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 8px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

.top-hotel{
    width: 70%;
}

/* 施設＆部屋タブ */
.flex-container {
    display: flex;
}

.image-wrap{
    margin: 10px 5px;
}

.image-wrap img {
    width: 100%;
    height: 100px;
}

.flex-item {
    flex-basis: 100%;
}

#pic_frame {
	text-align: center;
}

.tab_class {
    width: calc(100%/8);
    height: 25px;
    background-color: darkgrey;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
}

/*inner
---------------------------------------------------------------------------*/
.inner {
	padding-left: 2% !important;
	padding-right: 2% !important;
}

/*コンテンツ（mainとsubを囲むブロック。１カラム時の場合はメインコンテツを囲むブロック。）
---------------------------------------------------------------------------*/
/*h2タグ*/
#contents h2 {
	font-size: 14px;
	padding: 5px 10px;	/*上下、左右へのボックス内の余白*/
}
/*h3タグ*/
#contents h3 {
	font-size: 14px;
	padding-left: 10px;
}
/*h2タグとh3タグの１文字目*/
#contents h2::first-letter, #contents h3::first-letter {
	padding-left: 10px;	/*線と文字との余白*/
}
/*段落タグ*/
#contents p {
	padding: 0 10px 20px;
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
/*section同士の余白*/
.main section + section {
	margin-top: 20px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
.fl {float: none;}
img.fl {float: none;display: block;width:90%;margin: 0 auto 20px;}
.fr {float: none;}
img.fr {float: none;display: block;width:90%;margin: 0 auto 20px;}
.big1 {font-size: 16px;}
.sh {display:block;}
.pc {display:none;}

}

.center p{
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #3399FF;
	border: solid 2px #3399FF;
	border-radius: 3px;
	transition: .4s;
  }
  
  .btn:hover {
	background: #3399FF;
	color: white;
  }